@import "inc/_vars.styl"
@import "inc/_mixins.styl"

.app-form
  width 30%
  __flex(0,column)
  padding $p3 $p $p3 $p3
  @media $md
    width 35%
    padding $p2 $p $p2 $p2
  @media $sm
    width 40%
    padding 18px 8px 18px 18px
  @media $xs
    width 100%
    padding 18px
  & + .app-list
    padding-left 4px
  .form
    width 100%
    background $bg_color_secondary
    box-shadow 0 20px 30px rgba(0, 0, 0, 0.04), 0 6px 10px rgba(0, 0, 0, 0.02)
    border-radius $border_radius
    __flex(0,column)
    flex-wrap wrap
    padding $p2
    box-sizing border-box
    &-field
      width 100%
      display flex
      flex-direction column
      label
        font-size 12px
        line-height 15px
        letter-spacing -0.02em
        color $text_color_secondary
        span
          color $danger
          margin 0 4px
      input, textarea
        background $bg_color_secondary
        box-shadow 0 2px 5px rgba(0, 0, 0, 0.1)
        border-radius $border_radius
        border none
        outline none
        padding 0 $p
        font-size 14px
        margin 4px 0 18px 0
        &:focus
          box-shadow 0 4px 7px rgba(0, 0, 0, 0.1)
      input
        height $input_height
        line-height $input_height
      textarea
        min-height 80px
        padding 10px $p
        resize vertical
    &-hint
      font-size 8px
      line-height 10px
      margin-top -14px
      letter-spacing -0.02em
      color $danger_light
      transition all 0.3s
    button
      margin-top 10px
