__fontRegular(){
  font-style normal
  font-weight normal
}

__fontMedium(){
  font-style normal
  font-weight 600
}

__flex(d = flex, fd = row, jc = flex-start, ai = flex-start){
  display: noEmpty(d, flex)
  flex-direction: noEmpty(fd, row)
  justify-content: noEmpty(jc, flex-start)
  align-items: noEmpty(ai, flex-start)
}


noEmpty(a, b)
  if a == 0
    b
  else
    a
