
$p = 16px
$p2 = 24px
$p3 = 32px
$p4 = 48px
$border_radius = 4px
$input_height = 36px
$btn_height = 36px

$lg = 'only screen and (max-width: 1600px)'
$md = 'only screen and (max-width: 1263px)'
$sm = 'only screen and (max-width: 769px)'
$xs = 'only screen and (max-width: 640px)'


$bg_color = #FAF9F7
$bg_color_secondary = #FFFEFB
$text_color = #3F3F3F
$text_color_secondary = #49485E
$primary = #7BAE73
$danger = red
$danger_light = #FF8484
